<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Siteye Git </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Kategoriler </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Ürünler </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Slider Alanı </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Hakkımızda </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Lezzetlerimiz </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Referanslar </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>İletişim </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Mesajlar </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Ayarlar </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>İstatistikler </a></li>
                <li><a href="index.html"><i class="menu-icon fa fa-laptop"></i>Çıkış Yap </a></li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
